* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #efefef;
	background: url('../810.png');
	color: #2c2c2c;
	font-family: monospace;
	font-size: 18px;
}

li {
	padding-bottom: 4px;
}

li > ul {
	list-style: none;
	padding: 0 0 15px 15px;
}

.inner_list {
	list-style: none;
}

.section h2 {
	font-size: 2.3rem;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #fff;
	border-bottom: 1px solid #dfdede;
}

.header .top_menu,
.top_menu .menu_items {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.top_menu .menu_item {
	padding: 15px 20px;
	text-align: center;
	color: blue;
}

.top_menu .menu_button {
	border-radius: 50%;
	border: 1px solid #0953c2;
	padding: 10px;
	display: none;
}

.top_menu .menu_button .line {
	width: 23px;
	height: 5px;
	background: #0953c2;
	margin: 2px 0;
}

.main {
	margin-top: 55px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 2.5rem;
	padding: 0 5px;
}

.main .section {
	display: flex;
	max-width: 1200px;
	background: rgba(255, 255, 255, .2);
}

.main .welcome_block {
	align-items: center;
	padding: 100px 0;
}

.main .welcome_block .directions {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
}

.welcome_block .direction_item {
	display: flex;
	align-items: center;
	padding: 0 20px 20px 0;
}

.directions .direction_item span {
	color: #fff;
}

.directions .web span {
	background-color: #0953c2;
}

.directions .gamedev span {
	background-color: #eb1c1c;
}

.directions .mobile span{
	background-color: #14b746;
}

.directions .interface span {
	background-color: #630cc2;
}

.directions .web svg {
	fill: #0953c2;
}

.directions .gamedev svg {
	fill: #eb1c1c;
}

.directions .mobile svg {
	fill: #14b746;
}

.directions .interface svg {
	fill: #630cc2;
}

.direction_item svg {
	width: 40px;
	height: 47px;
	fill: #fff;
	padding-right: 5px
}

.main .welcome_block .welcome_text {
	flex: 2 1 auto;
}

/*	Directions block	*/

.section h1 {
	text-align: center;
	padding-bottom: 40px;
}

.direction_block, .information_block {
	flex-direction: column;
	width: 100%;
}

.direction_block .directions {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.direction_block .direction_item {
	max-width: 375px;
	padding-right: 20px;
}

.direction_block .direction_item .caption {
	display: flex;
}

.direction_block .direction_item .body {
	padding: 10px 0 20px 45px;
	font-size: 1.2rem;
	font-family: serif;
}

/*	Info: learning and conditions	*/

.information_block,
.contacts_block {
	flex-direction: column;
	align-items: center;
	padding-bottom: 50px;
}

.information_block .items {
	max-width: 650px;
	padding-left: 20px;
	font-size: 1.2rem;
}

.information_block .items .item {
	flex: 1 1 auto;
	padding: 10px;
}

.circles {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 40px;
	justify-content: space-between;
	align-items: center;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: #0953c2;
	border-radius: 50%;
}

/*	Contacts	*/

.contacts_block .invitation_text {
	font-size: 1.5rem;
	text-align: center;
}

.contacts_block .ways {
	padding: 20px 0;
}

.contacts_block .ways svg {
	padding: 8px;
	border-radius: 50%;
	border: 1px solid #0953c2;
	width: 45px;
	height: 45px;
	fill: #0953c2;
}

.contacts_block .form {
	display: flex;
	flex-direction: column;
	align-content: center;
	max-width: 750px;
}

.contacts_block .form label {
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	font-size: 1.2rem;
}

.contacts_block .form .req_sign {
	color: #8714b7;
}

.contacts_block .form input,
.contacts_block .form textarea,
.contacts_block .form button {
	font-size: 1.2rem;
	padding: 7px;
	border: 1px solid #8714b7;
	background-color: #fefefe;
}

.contacts_block .form button {
	border: none;
	background: #8714b7;
	padding: 12px;
	color: #fff;
	align-self: center;
}

/*	Footer	*/

.footer {
	border-top: 1px solid gray;
	padding: 10px;
	text-align: center;
}

/*	media queries	*/

@media (max-width: 1030px) {

	.main .welcome_block {
		padding-top: 20px;
	}

}

@media (max-width: 1106px) {
	.direction_block .directions {}
}

@media (max-width: 902px) {

	.section h1 {
		/*text-align: initial;*/
		padding-bottom: 20px;
	}

	.main .welcome_block {
		flex-direction: column;
		padding-bottom: 40px;
		/*align-items: initial;*/
	}

	.main .welcome_block .welcome_text {
		text-align: center;
		padding-bottom: 45px;	
	}

	.main .welcome_block .directions {
		order: 1;
		justify-content: center;
	}

}

@media (max-width: 710px) {
	.information_block .items {
		padding-left: 35px;
	}
}

@media (max-width: 601px) {
	.main .welcome_block .directions {
		/*display: block;*/
	}
}

@media(max-width: 505px) {
	.header .top_menu {
		flex-direction: column;
		padding: 8px 0;
	}

	.top_menu .menu_items {
		display: none;
		flex-direction: column;
	} 

	.top_menu .menu_item {
		border-bottom: 1px solid #e1e1e1;
		width: 100%;
	}

	.top_menu .menu_button {
		display: block;
	}
}

@media (max-width: 375px) {
	.section h1 {
		font-size: 3.3rem;
	}
}